body {
    background-color: #FEF8EF;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: sans-serif;
    font-size: 24px;
}

.symbols-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.chart {
    width: 100%;
    overflow-x: auto;
    text-align: center;
}

.selected {
    background-color: aliceblue;
    border: 1px solid #555;
    border-radius: 2px;
    font-weight: bold;
}